<footer id="footer">
    <div class="footer-inner">
        <div>
            <div style="font-weight: bold; margin-bottom: 15px;">发布点</div>
            <div><a href="https://bluemiaomiao.gitee.io">中国境内镜像</a></div>
            <div><a href="https://bluemiaomiao.github.io">中国境外镜像</a></div>
        </div>
        <div>
            <div style="font-weight: bold; margin-bottom: 15px;">致力于开源</div>
            <div><a href="https://bluemiaomiao.github.io/fastdfs-spring-boot-starter/">FastDFS SpringBoot Starter</a></div>
        </div>
        <div>
            <div style="font-weight: bold; margin-bottom: 15px;">友人帐</div>
            <div><a href="https://debuginn.cn">DebugInn</a></div>
        </div>
        <div>
            <div style="font-weight: bold; margin-bottom: 15px;">其他有用链接</div>
        </div>
    </div>
</footer>
